
@font-face {
    font-family:"AvenirNextLTPro-Regular";
    src:url("Avenir-Regular.woff2") format("woff2"),url("Avenir-Regular.woff") format("woff"),url("Avenir-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        