
@font-face {
    font-family:"Avenir Heavy";
    src:url("Avenir-Heavy.woff2") format("woff2"),url("Avenir-Heavy.woff") format("woff"),url("Avenir-Heavy.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        