
@font-face {
    font-family:"Stag-Light";
    src:url("Stag-Light.woff2") format("woff2"),url("Stag-Light.woff") format("woff"),url("Stag-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        